# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [324]:
num=4

##### Assinging float - Float types are decimals

In [1]:
afloat=4.0
print(type (afloat))

<class 'float'>

#### Performing Calculations on ints and floats

##### Addition (+)

##### Subtraction (-)

##### Multiplication (*)

In [22]:
prod= 11*2
print (prod)

22

##### Division (/)

In [23]:
quot= 15/3
print(quot)
quot /= 5
print (quot)

5.0
1.0

##### Floor Division (//) - Normal division but returns the largest possible integer

In [24]:
quot = 19//2
print(quot)

9

##### Modulo (%) - Returns the remainder of division

In [31]:
remainder = 10 % 3
print(remainder)

1

##### Exponential (**)

In [38]:
square = 5**2
print (square)

25

### String Input-Output

##### String Assignment

In [52]:
name = "Faith"
print(name)

last = 'mcquade'
print(last)

Faith
mcquade

##### print() <br>
<p>Don't forget about end=' '</p>

In [59]:
print("this is a line")
print("this is another line")

this is a line
this is another line

##### String Concatenation

In [73]:
aword= 'hello'
bword = 'there'
total = aword+" "+bword
print(total)

hello there

##### Type Conversion

In [80]:
string_num='123'
print(type(string_num))
num = int(string_num)
print(type(num))
afloat = float(string_num)
print (type(afloat))

<class 'str'>
<class 'int'>
<class 'float'>

##### input()

In [101]:
name = input("what is your name ")
print('hello'+ name)
age=input("how old are you")
print("you are" + age +'thats awesome')
print(type(age))

hellofaith
you are26thats awesome
<class 'str'>

##### format()

In [115]:
age=input("how old are you")
print(type(age))
result= "wow you are {}, that's awesome" .format(age)
print(result)

<class 'str'>
wow you are 26, that's awesome

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [326]:
color=input ("what color is your car")
year=input("what year is your car")
model=input("what model is your car")
make= input("what is the make of your car")
print("my car is a (color), (year), (model),(make)")

my car is a ('color'), ('year'), ('model'), ('make')

### If Statements

In [173]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

name= 'jake'
if name == 'faith':
    print("don't let her in shes too cool")
elif name =='jake':
    print("do a jumping jack")
else:
    print("that girl is also cool but not that cool")

print('no longer in if and still running')

do a jumping jack
no longer in if and still running

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

In [180]:
num = 50
x= num
if num is x:
    print("yes")
else:
    print("no")

yes

##### 'in' keyword = used to check if a value is present in a sequence

In [186]:
name = 'faith'
if 'y' in name:
    print("y in there")
else:
    print('y not in there')

y not in there

##### 'not in' keyword'

In [188]:
name = 'christian'
if 'y' in name:
    print("y in there")
else:
    print('y not in there')

y in there

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [196]:
name = input('purple')
if 'p' in name:
    print('p in there')
else:
    print('p not in there')

p not in there

## Using 'and'/'or' with If Statements

In [202]:
faith = 'pepperoni'
dylan = 'cheese'

if dylan == 'cheese' and faith == 'pepperoni':
    print('everythings good')
else:
    print('somethins up')

everythings good

### Elif Statements

### Else Statements

In [203]:
# see above

### For Loops

In [219]:
name = 'faith'

count = 1

for letter in name:
    print(letter)
    count += 1
print(count)

f
a
i
t
h
6

##### Continue Statement

In [232]:
# will continue to next iteration
name = "faith"

count = 0

for letter in name:
    if letter == '1':
        continue
    print(letter)

f
a
i
t
h

##### Break Statement

In [239]:
# will break out of current loop
name = 'faith'

count = 0

for letter in name:
    if letter == '1':
        break
    print(letter)

f
a
i
t
h

##### Pass Statement

In [240]:
# mostly used as a placeholder, and will continue on same iteration
for letter in name:
    pass
print(1+1)

def thisfunc():
    pass

def thatfunc():
    pass
def otherfunc():
    pass

##### Double For Loops

In [246]:
name = ['faith', 'britt', 'jake', 'omar']
for name in name:
    print(name)
    for letter in name:
        print(letter)

faith
f
a
i
t
h
britt
b
r
i
t
t
jake
j
a
k
e
omar
o
m
a
r

### While Loops

In [248]:
num = 0
while num < 100:
    print(num)
    num += 5

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

##### Looping 'While True'

In [251]:
num = 0
while True:
    num+= 1
    if num >= 10:
        break
    print(num)

1
2
3
4
5
6
7
8
9

##### While & For Loops Used Together

In [301]:
Christian = 'Christian'
count = 0
while Christian == 'Christian':
    print('wow hes so cool, lets spell his name out')
    for letter in 'Christian':
        print(letter, upper())
    count += 1
    if count >= 5:
        Christian = 'not that cool'

wow hes so cool, lets spell his name out

NameError: name 'upper' is not defined

### Built-In Functions

##### range()

In [ ]:
this_range = range(10)
print(this_range)
for num in range(4, 10, 2):
    print(num)

range(0, 10)
4
6
8

##### len()

In [ ]:
name ='faith'
print(len(name))

5

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [ ]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance() - checks if the object is the type

In [ ]:
age = 12
if isinstance (age,int):
    age+=1
print('happy bday'+ str(age))

happy bday13

##### abs() - returns the absolute value

In [ ]:
num = -5

print(abs(num))

5

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [ ]:
try:
    magic_number =3
    guess = int(input("guess a number"))
    if guess == magic_number:
        print("wow you did it")
    else:
        print('wrong')
except:
    print("invlaid guess, use integers only")

invlaid guess, use integers only

### Lists

##### Declaring Lists

In [ ]:
stus = [ 'justin', 'devon', 'omar']
print(type(stus))

<class 'list'>

##### Indexing a List

In [ ]:
stus = [ 'justin', 'devon', 'omar']
this_guy = stus[2]
print(this_guy)

omar

##### .append()

In [ ]:
stus.append('marcos')
print(stus)

['justin', 'devon', 'omar', 'marcos']

##### .insert()

In [ ]:
stus.insert(1,'dylan')
print(stus)

['justin', 'dylan', 'devon', 'omar', 'marcos']

##### .pop()

In [ ]:
popped = stus.pop()
print(popped)
print(stus)

marcos
['justin', 'dylan', 'devon', 'omar']


##### .remove() - removes element in a list, does not remove duplicates

In [ ]:
print(stus)
stus.remove('dylan')
print(stus)

['justin', 'dylan', 'devon', 'omar']
['justin', 'devon', 'omar']

##### del()

In [ ]:
del(stus[1])
print(stus)

['justin', 'omar']

##### Concatenating Two Lists

In [ ]:
l1 =['christian','dylan']
l2=['sam','faith']
larger_list = l1 + l2
print(larger_list)

['christian', 'dylan', 'sam', 'faith']

##### Lists Within Lists

In [ ]:
roster =[['christian','dylan'],'jake','britt','mitchell','oakland']
print(roster)
print(roster[0][1][3])

[['christian', 'dylan'], 'jake', 'britt', 'mitchell', 'oakland']
a

##### Looping Through Lists

In [ ]:
for student in roster:
    print(student)

['christian', 'dylan']
jake
britt
mitchell
oakland

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
number = 1

while True:
    cube = number **3
    if cube > 1000:
        break
    print(cube)
    number+= 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [323]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
def is_prime(num):
    if num < 2:
        return False
    for i in range(2,int(num ** 0.5) +1):
        if num % i == 0:
            return False
    return True
for number in range(2,101):
    if is_prime(number):
        print(number)
        count += 1
        if count == 10:
            break
else:
    print("100")

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
100

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [316]:
age = input("What's your age?")
age = int(age)
if age < 18:
    print("You're a kid")
elif age <= 65:
    print("You're an adult")
else:
    print("You're a senior")

You're an adult